[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
uvicorn = {extras = ["standard"], version = "*"}
sqlalchemy = "*"
alembic = "*"
psycopg = "*"
asyncpg = "*"
pydantic = "*"
httpx = "*"
openai = "*"
phidata = "*"
pgvector = "*"
beautifulsoup4 = "*"
python-docx = "*"
pandas = "*"
openpyxl = "*"
xlrd = "*"
cryptography = "*"
pillow = "*"
markdown = "*"
colorama = "*"
python-multipart = "*"
google-auth = "*"
google-auth-oauthlib = "*"
google-api-python-client = "*"
pydantic-settings = "*"
apscheduler = "*"
redis = "*"
psycopg2-binary = "*"
aiofiles = "*"
celery = {extras = ["redis"], version = "*"}
pypdf = "*"
pymupdf = "*"
cohere = "*"
firecrawl-py = "*"
trafilatura = {extras = ["all"], version = "*"}

[dev-packages]

[requires]
python_version = "3.12"
python_full_version = "3.12.8"
